// 안나타나는 주석
/*
 나타나는 주석
*/
//$변수명 : 변수의 값; , 변수의 유효범위는 {}를 기준으로 함.
// !global을 붙이면 전역으로 사용가능 하지만 잘 안씀
// &은 바로윗단계 부모가리킴
//@at-root는 부모 뺴기

$color: #111;
#header {
  .container {
    display: flex;
  }
  #gnb {
    color: $color;
    ul {
      display: flex;
      .list {
        border: 1px solid black;
        margin: 20px 0 30px 0;
        margin-top: 20px;
        margin-bottom: 30px;
        margin : {
          top: 20px;
          bottom: 30px;
        }
      }
      li {
        &:hover .depth01 {
          color: blue;
        }
        .depth01 {
          display: flex;
        }
      }
    }
  }
}
@import "_vars.scss";
@import "_mixin";
#header {
  color: $font-color;
  background-color: $gray-color;
}
#news ul li {
  @include ellipsis;
  h3 {
    @include multiEllipsis(5);
    @include absCenter(true, false);
  }
}
