<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>404</title>
    <link rel="stylesheet" href="/scss/main.css" />
  </head>
  <body>
    <div class="error">
      <img src="/images/main/ERROR.jpg" alt="error 이미지" />
      <h2>404 ERROR : page Not Found</h2>
      <button>홈으로 돌아가기</button>
    </div>
  </body>
</html>
