<%- include("./include/header") %>

    <div class="subVisual" id="subVisual02">
      <div class="titleBox">
        <h2 class="subTitle">Business</h2>
        <p>하이탑이 디자인에서 설계, 시공까지 확실하게 책임지겠습니다.</p>
      </div>

      <nav id="lnb">
        <div class="container">
          <a href="" class="home">HOME</a>
          <div class="depth01 menu">
            <button>Business</button>
            <%- include("./include/depth01"); -%>
          </div>
          <div class="depth02 menu">
            <button>경관용포장재</button>
            <%- include("./include/lnb01"); -%>
          </div>
        </div>
      </nav>
    </div>

    <div class="subContents">
      <h3 class="contentsTitle">기능성포장재</h3>
      <div class="contents" id="introduce"></div>
    </div>
  </body>
</html>

<footer id="footer">
  <div class="utilMenu">
    <ul>
      <li><a href="">이용약관</a></li>
      <li>
        <a href=""><strong>개인정보보호정책</strong></a>
      </li>
      <li><a href="">사이트맵</a></li>
      <li><a href=""> 온라인견적문의</a></li>
    </ul>
  </div>
  <div class="addressBox">
    <div class="container">
      <div class="fLogo">
        <img src="../images/layout/fLogo.png" alt="" />
      </div>
      <div class="address">
        <p class="title">하이탑: 서울 송파구 성내천로 14길 13 (3층)</p>
        <p class="info">
          <span>대표전화 : 070-7715-4400</span>
          <span>이메일 : hitop4400@hanmail.net </span>
          <span>사업자번호 : 402-81-83259</span>
        </p>
        <p class="copyright">Copyright ⓒ 2018 HITOP. All rights reserved</p>
      </div>
      <div class="tel"><span>고객만족센터</span><strong>070-7715-4400</strong></div>
    </div>
  </div>
</footer>


</body>
</html>