<%- include("./include/header") %>

    <div class="subVisual" id="subVisual02">
      <div class="titleBox">
        <h2 class="subTitle">Business</h2>
        <p>하이탑이 디자인에서 설계, 시공까지 확실하게 책임지겠습니다.</p>
      </div>

      <nav id="lnb">
        <div class="container">
          <a href="" class="home">HOME</a>
          <div class="depth01 menu">
            <button>Business</button>
            <%- include("./include/depth01"); -%>
          </div>
          <div class="depth02 menu">
            <button>기능성포장재</button>
            <%- include("./include/lnb02"); -%>
          </div>
        </div>
      </nav>
    </div>

    <div class="subContents">
      <h3 class="contentsTitle">조립식바닥재</h3>
        <div class="businesscontents " id="business0301">
          <div class="businessTab">
            <ul>
              <li><a href="/business0301#inner01">PR바닥재</a></li>
              <li>잔디보호매트</li>
              <li>헥사페이브</li>
              <li>코코블럭</li>
            </ul>
          </div>
          
          <div class="innerTop container">
            <img src="/images/contents/businessField_img0301.jpg" alt="">
            <p><strong>PR바닥재</strong>SPORTS COURT SYSTEMS</p>
            <div><span>고압축 폴리프로필렌 재질의 제품에 연결고 리가 있어서 서로 연결하여 확장이 가능하 고 콘크리트나 다른 고정된 모든 바닥 위에 간단하게 조립하고 이동 재설치가 용이하여 전 세계적으로 호평받고 있는 스포츠바닥 시스템이다.</span> <p>※ 종류 : 볼토피아플러스(HT-BBS21), 볼토피아18(HT-BB20), 볼토피아16(HT-DC16), 볼토피아13(HT-HC13)</p></div>
          </div>
  
          <div class="innerMiddle">
            <div class="container">
              <ul class="innerBottomList">
                <li><a href="#inner01">제품소개</a></li>
                <li><a href="#inner02">제품비교</a></li>
                <li><a href="#inner04">시공사례</a></li>
              </ul>
            </div>
          </div>
          
          <div class="tabContents">
            <div id="inner01">
              <div class="innerBottomContents01 " >
                <div class="container">
                  <h1 class="innerTitle">제품 특징</h1>
                    <div class="inner01_div">
                     <ul class="products">
                      <li><span>01</span><p>자동으로 물이 빠짐으로 미끄러짐이 없다</p></li>
                      <li><span>02</span><p>볼 반반율과 충격흡수가 우수하다.</p></li>
                      <li><span>03</span><p>기존 우레탄이나 인조잔디 바닥의 단점을 보완한 시스템</p></li>
                      <li><span>04</span><p>원하는 색상으로 디자인이 가능하여 예술적인 코트를 만들 수 있다.</p></li>
                      <li><span>05</span><p>격자망 디자인으로 된 고압축 폴리프로 필렌 바닥재</p></li>
                      <li><span>06</span><p>Self-draining Design-자동으로 물이 빠지도록 설계</p></li>
                      <li><span>07</span><p>우수한 충격흡수 장치(국제특허)</p></li>
                      <li><span>08</span><p>콘크리트 / 아스콘 / 타일 바닥 상부에 적용가능</p></li>
                     </ul>
                    </div>
                </div>
              </div>
              <div class="innerBottom01 container" >
                <h1 class="innerTitle">
                  제품 용도
                </h1>
                <table>
                  <tbody>
                    <tr>
                      <td>일반 체육시설</td>
                      <td>농구,테니스,발리볼,배구,하키,풋살,핸드볼,라켓볼,스쿼시,배드민턴 등</td>
                    </tr>
                    <tr>
                      <td>생활 체육시설</td>
                      <td>학교, 레크레이션 센터, 멀티엑티비티 센터, 스포츠 캠프시설, 재활클리닉 및 병원, 군 체육시설, 스포츠 교육시설, 에어로빅, 댄스, 필라테스, 요가, 이벤트홀, 간이체육시설 등</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div id="inner02">
              <div class="innerBottomContents02">
                <div class="container">
                  <h1 class="innerTitle">제품비교</h1>
                 <table class="table">
                   <tbody >
                    <th>구분</th>
                    <th>전면</th>
                    <th>후면</th>
                    <tr>
                      <td>볼토피아플러스<br>HT-BBS21<br>(304mm×304mm×20mm)</td>
                      <td><img src="images/contents/business0301_0201.jpg" alt="">
                      <img src="images/contents/business0301_0202.jpg" alt=""></td>
                      <td><img src="images/contents/business0301_0209.jpg" alt="">
                      <img src="images/contents/business0301_0213.jpg" alt=""></td>
                    </tr>
                    <tr>
                      <td>볼토피아18<br>HT-BB20<br>(304mmx304mmx18mm)</td>
                      <td><img src="images/contents/business0301_0203.jpg" alt="">
                      <img src="images/contents/business0301_0204.jpg" alt=""></td>
                      <td><img src="images/contents/business0301_0210.jpg" alt="">
                      <img src="images/contents/business0301_0214.jpg" alt=""></td>
                    </tr>
                    <tr>
                      <td>볼토피아16<br>HT-DC16<br>(304mmx304mmx16mm)</td>
                      <td><img src="images/contents/business0301_0205.jpg" alt="">
                      <img src="images/contents/business0301_0206.jpg" alt=""></td>
                      <td><img src="images/contents/business0301_0211.jpg" alt="">
                      <img src="images/contents/business0301_0215.jpg" alt=""></td>
                    </tr>
                    <tr>
                      <td>볼토피아13<br>HT-HC13<br>(250mmx250mmx13mm)</td>
                      <td><img src="images/contents/business0301_0207.jpg" alt="">
                      <img src="images/contents/business0301_0208.jpg" alt=""></td>
                      <td><img src="images/contents/business0301_0212.jpg" alt="">
                      <img src="images/contents/business0301_0216.jpg" alt=""></td>
                    </tr>
                   </tbody>
                 </table>
                </div>
              </div>
              <div class="innerBottom02 container">
                <h1 class="innerTitle">자료실</h1>
              <table class="businessTable">
                <th>파일명</th>
                <th>다운로드</th>
                <tr>
                  <td>PP바닥재 시험성적서</td>
                  <td><button><span class="material-icons">
                    file_download
                    </span> 다운로드</button></td>
                </tr>
                <tr>
                  <td>PP바닥재 규격서 2020</td>
                  <td><button><span class="material-icons">
                    file_download
                    </span>다운로드</button></td>
                </tr>
              </table>
              </div>
            </div>
            <div id="inner04">
              <div class="select">
                <div class="container">
                  <h2>검색</h2>
                  <select name="sel1" id="sel1"></select>
                  <select name="sel2" id="sel2" style="display: none"></select>
                  <input type="text" placeholder="검색어를 입력하세요.">
                  <button>검색</button>
                </div>
              </div>
              <div class="innerBottomContents04">
                <div class="container">
                  <ul class="list04_01">
                    <li><img src="/images/contents/c01.jpg" alt=""><span>조립식 PP바닥재</span></li>
                    <li><img src="/images/contents/c02.jpg" alt=""><span>플라스틱바닥재</span></li>
                    <li><img src="/images/contents/c03.jpg" alt=""><span>플라스틱바닥재</span></li>
                    <li><img src="/images/contents/c04.jpg" alt=""><span>플라스틱바닥재</span></li>
                    <li><img src="/images/contents/c05.jpg" alt=""><span>PP바닥재 (바운스백)</span></li>
                    <li><img src="/images/contents/c06.jpg" alt=""><span>조립식PP바닥재</span></li>
                    <li><img src="/images/contents/c07.jpg" alt=""><span>조립식PP바닥재</span></li>
                    <li><img src="/images/contents/c08.jpg" alt=""><span>조립식PP바닥재</span></li>
                  </ul>
                  <ul class="list04_02">
                      <button><span class="material-icons">
                        arrow_back_ios
                        </span></button>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
            <button> <span class="material-icons">
                      arrow_forward_ios
                      </span></button>
                  </ul>
                </div>
              </div>
            
                  </div>
          </div>
      </div>
        
    </div>

    <script>
          $(".businessTab ul li").on("mouseenter", function () {
    $(this).addClass("businessTab").siblings().removeClass("businessTab")
  });
    $(function () {
    $(".businessTab ul li:nth-child(1)").addClass("businessTab");
  });
  $(".businessTab ul li").on("mouseleave", function () {
    $(".businessTab ul li:nth-child(1)").addClass("businessTab").siblings().removeClass("businessTab")
  });

  $(function(){
  $(".innerBottomList li:nth-child(1)").addClass("on")
 })
 $(".innerBottomList li").on("click",function(){
  $(this).addClass("on").siblings().removeClass("on")

 })

 $( document ).ready(function(){
   
   var sel1 = {
       " ":"1차 카테고리 선택",
       "art":"PP바닥재",
         "tex":"잔디보호매트",
         "pat":"헥사페이브",
         "gro":"코코블럭",
     };
     
     //sel1이 art일경우
     var sel2_1 = {
       " ":"2차 카테고리 선택",
     };
     
     //sel1 tex일경우
     var sel2_2 = {
       " ":"2차 카테고리 선택",
     };

     //sel1 pat일경우
     var sel2_3 = {
       " ":"2차 카테고리 선택",
     };

     //sel1 gro일경우
     var sel2_4 = {
       " ":"2차 카테고리 선택",
     };

     
    function retOption(mapArr, select){
       var html = '';
       var keys = Object.keys(mapArr);
       for (var i in keys) {
           html += "<option value=" + "'" + keys[i] + "'>" + mapArr[keys[i]] + "</option>";
       }
         
         $("select[id='" + select +"']").html(html);
    }
    
    $("select[id='sel1']").on("change", function(){
       var option = $("#sel1 option:selected").val();
         var subSelName = "";
       if(option == "art") {
           subSelName = "sel2_1";
         } else if(option == "tex"){
           subSelName = "sel2_2"; 
         } else if(option == "pat"){
          subSelName = "sel2_3"
         }  else if(option == "gro"){
          subSelName = "sel2_4"
         }
         else{
           $("#sel2").show();
           return;
         }
         $("#sel2").show();
         retOption(eval(subSelName), "sel2");
     })
    retOption(sel1, "sel1");
 });
 



    </script>

  </body>
</html>

<%- include("./include/footer") %>
