<%- include("./include/header") %>

    <div class="subVisual" id="subVisual02">
      <div class="titleBox">
        <h2 class="subTitle">Business</h2>
        <p>하이탑이 디자인에서 설계, 시공까지 확실하게 책임지겠습니다.</p>
      </div>

      <nav id="lnb">
        <div class="container">
          <a href="" class="home">HOME</a>
          <div class="depth01 menu">
            <button>Business</button>
            <%- include("./include/depth01"); -%>
          </div>
          <div class="depth02 menu">
            <button>기능성포장재</button>
            <%- include("./include/lnb02"); -%>
          </div>
        </div>
      </nav>
    </div>

    <div class="subContents">
      <h3 class="contentsTitle">스포츠빌드</h3>
        <div class="businesscontents " id="business0401">
          <div class="businessTab">
            <ul>
              <li><a href="/business0401#inner01">아크릴바닥재</a></li>
              <li>육상트랙</li>
              <li>우레탄바닥재</li>
              <li>학교운동장</li>
            </ul>
          </div>
          
          <div class="innerTop container">
            <img src="/images/contents/businessField_img0201.jpg" alt="아크릴바닥재 대표 이미지">
            <p><strong>아크릴바닥재</strong>NOVA SYSTEM</p>
            <div><span>1984년 설립이래 최신 생산시설로 최고의 품질을 유지하여 전세계로 수출되어 시공되고 있습니다. ITF(국제터네스연맹)에서 인증한 Category2, Category3, Category4, 제품들은 고객이 원하는 최고의 품질로 인정받고 있습니다. 특히 Category4로 ITF로 인증 받은 노바울트라쿠션 시스템은 가장 최신의 공법으로 전세계적으로 각광받고 있습니다.</span> </div>
          </div>
  
          <div class="innerMiddle">
            <div class="container">
              <ul class="innerBottomList">
                <li><a href="#inner01">제품소개</a></li>
                <li><a href="#inner03">시공순서</a></li>
                <li><a href="#inner04">시공사례</a></li>
              </ul>
            </div>
          </div>
          
          <div class="tabContents">
            <div id="inner01">
              <div class="innerBottomContents01 " >
                <div class="container">
                  <h1 class="innerTitle">제품 특징 및 단면도</h1>
                    <div class="inner01_div">
                      <ul class="products">
                        <li><span>01</span><p>대한테니스협회(KTA), 국제 테니스협회(ITF) 인증</p></li>
                        <li><span>02</span><p>뛰어난 탄성 <span>- 폐타이어칩보다 탄성이 뛰어나 경기시 충격흡수 및 안전사고 예방 효과<br>
                          <strong>※ QUV test 란 ? (QUV Accelerated weathering test)</strong><br>
                          옥외에 위치하는 모든 물질의 황변(Yellowing), 광택감소, 강도저하, 균열, 박리 및 백화현상 등을 유발하는 주요요인은 자외선 (Ultra Violet), 특히 단파장 영역의 자외선이다. QUV는 이 같은 단파장의 자외선뿐만 아니라, 온도, 이슬효과(Condensation), 강우(Water Spray)등의 기후현상을 시스템적으로 시뮬레이션하여 물질의 품질변이를 사전에 예측, 검증할 수 있도록 한다.</span></p></li>
                        <li><span>03</span><p>반영구적인 내구성 <span>- 열팽창이나 한파에 뒤틀림이 발생하지 않아 반영구적 사용가능 적외선 노축로 인한 코트색상의 색바램현상이 없음<br>
                          - QUV테스트 2000시간 이상 유지 (타제품 1000시간)</span></p></li>
                        <li><span>04</span><p>다양한 컬러 및 디자인<span>다양한 컬러 및 디자인을 연출할 수 있어 주위환경과 잘 어울림</span></p></li>
                        <li><span>05</span><p>친환경성 <span>-100% 아크릴을 사용하여 유해성분이 없음<br>-빠른 건조를 위해 일반적으로 암모니아, 납, 석면 등을 이용하여 시공을 하고 있지만, Nove Sports의 제품은 위와 같은 유해성분을 전혀 사용하지 않고 친환경적인 건조제 사용</span></p></li>
                       </ul>
                    </div>
                </div>
              </div>
              <div class="innerBottom01 container" >
                <h1 class="innerTitle">
                  제품 규격
                </h1>
                <table class="productTable">
                  <th>제품명</th>
                  <th>시공두께</th>
                  <th>적용범위</th>
                  <th>특징</th>
                  <tr>
                    <td><img src="/images/contents/business0401_0101.png" alt="Novacoat"></td>
                    <td>1.2mm</td>
                    <td>테니스장</td>
                    <td>Novacoat와 Novafil이 생산단계에서 혼합된 농축제품으로 물과 희석하여 아스콘 또는 콘트리트표면에 도포하여사용. 또한 노바컴비네이션은 신규코트나 기존코트의 보수용으로 사용이 가능하다.</td>
                  </tr>
                  <tr>
                    <td><img src="/images/contents/business0401_0102.png" alt="Nova cushion"></td>
                    <td>3mm</td>
                    <td>테니스장, 다목적구장</td>
                    <td>Nova cushion은 플레이어의 운동화와 코트바닥사이에 발생하는 충격을 흡수한다. 모래해변에서 달리기를 할 때 더많은 에너지를 필요로 하는 것 처럼 코트표면이 부드러울 경우 플레이의 어려움을 주며 익술하지 않은 과다한 몸동작은 오히려 몸의 피로나 손상을 발생시킨다.</td>
                  </tr>
                  <tr>
                    <td><img src="/images/contents/business0401_0103.png" alt="Nova sports"></td>
                    <td>4mm,5mm,7mm,8mm</td>
                    <td>테니스장</td>
                    <td>Nova sports사에서 제조하는 최상급 테니스코트바닥재 충격흡수성능은 여러번 울트라쿠션이 적용된 기초에서 나오며, 이 울트라쿠션은 다양한 크기의 EPDM 고무알갱이가 신축성이 있는 아크릴계 제품과 혼합된 형태이다. 울트라쿠션이 경화되면 고무판을 기초로 사용하여 코트의 쿠션을 제공하는 제품과 같은 기능을 함 울트라쿠션층 위에 컴비네이션재품을 발라 일정한 코트의 색상이 나타나며, 최상의 쿠션을 제공하는 Ultracushion system의 편안함과 제품기능을 감소시키지 않는다.</td>
                  </tr>
                  <tr>
                    <td><img src="/images/contents/business0401_0104.png" alt="Novaplay I"></td>
                    <td>-</td>
                    <td>농구장,다목적구장</td>
                    <td>Novaplay I은 일반적인 테니스코트에 비하여 거친 운동에 견딜 수 있는 전문바닥재로 테니스코트의 표면과 매우 흡사하나 다양한 신발표면, 롤러스케이트, 스케이트보드, 차량등에 견딜 수 있는 강도가 높은 제품이다</td>
                  </tr>
                  <tr>
                    <td><img src="/images/contents/business0401_0105.png" alt="Novaplay II"></td>
                    <td>-</td>
                    <td>인라인스케이트장,하키장</td>
                    <td>Novaplay II는 인라인스케이트, 하키등의 운동에 적합하도록 Novaplay base coat를 시공한 후 도포하여 거친 운동에 견딜 수 있도록 제조된 전문 바닥재이다.</td>
                  </tr>
                  <tr>
                    <td><img src="/images/contents/business0401_0106.png" alt="노바트랙시스템"></td>
                    <td>-</td>
                    <td>트랙,조깅로</td>
                    <td>노바트랙시스템은 Non-Slip 상태를 최적으로 유지시키며 습도가 높거나 건조한 상태에서도 경기력 향상에 영행이 없는 마라톤 및 조깅트랙의 남점을 해결하는 인체공학적으로 우수한 특징이 있는 최첨단설계이다. 포장재의 기술적 충격에는 신체적 안정성에 관계하는 수동적 충격과 기록의 향상 등 기술적 요인에 관계하는 능동적 충격으로 나뉘고 내구성 내충격에 우수한 EPDM 고무칩을 EPDM 바인더로 결합시켜 약 30%의 공극층을 만들며, 이 공극은 연속성을 자기고 있어 경기장 트랙바닥재에 적절한 탄성과 충격흡수성을 생기게 하는 동시에 층 내부의 수증기나 팽창된 공기를 하지층에 흡수 밎 확산되게 하는 효과가 있다.</td>
                  </tr>
                </table>
              </div>
            </div>
            <div id="inner03">
              <div class="innerBottomContents03">
                <div class="container">
                  <h1 class="innerTitle">시공순서</h1>
                  <ul>
                    <li>
                      <p>01</p>
                      <img src="/images/contents/business0101_0301.jpg" alt="하지정리">
                      <h3>하지정리</h3>
                    </li>
                    <li>
                      <p>02</p>
                      <img src="/images/contents/business0101_0302.jpg" alt="프라이머 도포">
                      <h3>프라이머 도포</h3>
                    </li>
                    <li>
                      <p>03</p>
                      <img src="/images/contents/business0101_0303.jpg" alt="아크릴 수지도포">
                      <h3>아크릴수지도포</h3>
                    </li>
                    <li>
                      <p>04</p>
                      <img src="/images/contents/business0101_0304.jpg" alt="시공완료">
                      <h3>시공완료</h3>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="innerBottom03">
                <div class="container">
                  <div class="inner04_list">
                 <div><p>01</p><span>하지정리</span></div>
                 <div><p>02</p><span>프라이머 도포</span></div>
                 <div><p>03</p><span>흑색고무칩 칩 및 바인더 혼합(육상트랙용)</span></div>
                 <div><p>04</p><span>흑색고무칩 칩 포설(육상트랙용)</span></div>
                 <div><p>05</p><span>Seadivng공정(육상트랙용)</span></div>
                 <div><p>06</p><span>표면 정리 공정(육상트랙용)</span></div>
                 <div><p>07</p><span>1차 우레탄 도포</span></div>
                 <div><p>08</p><span>표층 포설 공정</span></div>
                 <div><p>09</p><span>탑코팅 및 양성과정</span></div>
                 <div><p>10</p><span>A/S 및 유지관리</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div id="inner04">
              <div class="select">
                <div class="container">
                  <h2>검색</h2>
                  <select name="sel1" id="sel1"></select>
                  <select name="sel2" id="sel2" style="display: none"></select>
                  <input type="text" placeholder="검색어를 입력하세요.">
                  <button>검색</button>
                </div>
              </div>
              <div class="innerBottomContents04">
                <div class="container">
                  <ul class="list04_01">
                    <li><img src="/images/contents/c01.jpg" alt="NOVA(노바) 시공사례1"><span>NOVA(노바)</span></li>
                    <li><img src="/images/contents/c02.jpg" alt="NOVA(노바) 시공사례2"><span>NOVA(노바)</span></li>
                    <li><img src="/images/contents/c03.jpg" alt="NOVA(노바) 시공사례3"><span>NOVA(노바)</span></li>
                    <li><img src="/images/contents/c04.jpg" alt="NOVA(노바) 시공사례4"><span>NOVA(노바)</span></li>
                    <li><img src="/images/contents/c05.jpg" alt="NOVA(노바) 시공사례5"><span>NOVA(노바)</span></li>
                    <li><img src="/images/contents/c06.jpg" alt="NOVA(노바) 시공사례6"><span>NOVA(노바)</span></li>
                    <li><img src="/images/contents/c07.jpg" alt="NOVA(노바) 시공사례7"><span>NOVA(노바)</span></li>
                    <li><img src="/images/contents/c08.jpg" alt="NOVA(노바) 시공사례8"><span>NOVA(노바)</span></li>
               
                  </ul>
                  <ul class="list04_02">
                      <button><span class="material-icons">
                        arrow_back_ios
                        </span></button>
                    <li>1</li>
                    <li>2</li>
            <button> <span class="material-icons">
                      arrow_forward_ios
                      </span></button>
                  </ul>
                </div>
              </div>
            
                  </div>
          </div>
      </div>
        
    </div>

    <script>
    //⭐ businessTab ul li 마우스 엔터 / 리브 시 클래스 부여하여 배경색 입히기
    $(".businessTab ul li").on("mouseenter", function () {
    $(this).addClass("businessTab").siblings().removeClass("businessTab")
  });
    $(function () {
    $(".businessTab ul li:nth-child(1)").addClass("businessTab");
  });
  $(".businessTab ul li").on("mouseleave", function () {
    $(".businessTab ul li:nth-child(1)").addClass("businessTab").siblings().removeClass("businessTab")
  });

    //⭐ innerBottomList li 클릭시 클래스 부여하여 after show/ hide 기능
  $(function(){
  $(".innerBottomList li:nth-child(1)").addClass("on")
 })
 $(".innerBottomList li").on("click",function(){
  $(this).addClass("on").siblings().removeClass("on")

 })

  //⭐ 시공사례 > 1차 카테고래 선택에 따른 2차 카테고리 활성화
 $( document ).ready(function(){
   
   var sel1 = {
       " ":"1차 카테고리 선택",
       "art":"아크릴바닥재",
         "tex":"육상트랙",
         "pat":"우레탄바닥재",
         "gro":"학교운동장",
         "sil":"인조잔디",
     };
     
     //sel1이 art일경우
     var sel2_1 = {
       " ":"2차 카테고리 선택",
     };
     
     //sel1 tex일경우
     var sel2_2 = {
       " ":"2차 카테고리 선택",
     };

     //sel1 pat일경우
     var sel2_3 = {
       " ":"2차 카테고리 선택",
     };

     //sel1 gro일경우
     var sel2_4 = {
       " ":"2차 카테고리 선택",
     };

     var sel2_5 = {
       " ":"2차 카테고리 선택",
     };
     
    function retOption(mapArr, select){
       var html = '';
       var keys = Object.keys(mapArr);
       for (var i in keys) {
           html += "<option value=" + "'" + keys[i] + "'>" + mapArr[keys[i]] + "</option>";
       }
         
         $("select[id='" + select +"']").html(html);
    }
    
    $("select[id='sel1']").on("change", function(){
       var option = $("#sel1 option:selected").val();
         var subSelName = "";
       if(option == "art") {
           subSelName = "sel2_1";
         } else if(option == "tex"){
           subSelName = "sel2_2"; 
         } else if(option == "pat"){
          subSelName = "sel2_3"
         }  else if(option == "gro"){
          subSelName = "sel2_4"
         } else if(option == "sil"){
          subSelName = "sel2_5"
         }
         else{
           $("#sel2").show();
           return;
         }
         $("#sel2").show();
         retOption(eval(subSelName), "sel2");
     })
    retOption(sel1, "sel1");
 });
 



    </script>

  </body>
</html>

<%- include("./include/footer") %>
