<%- include("./include/header") %>

    <div class="subVisual" id="subVisual02">
      <div class="titleBox">
        <h2 class="subTitle">Business</h2>
        <p>하이탑이 디자인에서 설계, 시공까지 확실하게 책임지겠습니다.</p>
      </div>

      <nav id="lnb">
        <div class="container">
          <a href="" class="home">HOME</a>
          <div class="depth01 menu">
            <button>Business</button>
            <%- include("./include/depth01"); -%>
          </div>
          <div class="depth02 menu">
            <button>기능성포장재</button>
            <%- include("./include/lnb02"); -%>
          </div>
        </div>
      </nav>
    </div>

    <div class="subContents">
      <h3 class="contentsTitle">기능성포장재</h3>
        <div class="businesscontents " id="business0201">
          <div class="businessTab">
            <ul>
              <li><a href="/business0201#inner01">탄성포장재<br>(실외체육시설)</a></li>
              <li>충격흡수바닥재<br>(어린이놀이시설)</li>
              <li>미끄럼방지포장재</li>
              <li>폴리우레아수지도막방수제</li>
              <li>열교환도로</li>
            </ul>
          </div>
          
          <div class="innerTop container">
            <img src="/images/contents/businessField_img0201.jpg" alt="탄성포장재 이미지">
            <p><strong>탄성포장재</strong>실외체육시설용</p>
            <div><span>EPDM은 폐타이어나 폐우레탄을 재생하여 만든 재생 고무칩으로써 내오존성과 내열 내한성, 내용재성, 칼라의 안정성이 뛰어나, 다양한 색상과 패턴이 요구되는 바닥용 탄성포장재로 사용되고 있습니다. 또한 경제성도 뛰어나 값비싼 폴리우레탄 소재 탄성포장재를 대체할 수 있습니다.</span> </div>
          </div>
  
          <div class="innerMiddle">
            <div class="container">
              <ul class="innerBottomList">
                <li><a href="#inner01">제품소개</a></li>
                <li><a href="#inner02">컬러 및 종류</a></li>
                <li><a href="#inner03">시공순서</a></li>
                <li><a href="#inner04">시공사례</a></li>
              </ul>
            </div>
          </div>
          
          <div class="tabContents">
            <div id="inner01">
              <div class="innerBottomContents01 " >
                <div class="container">
                  <h1 class="innerTitle">제품 특징 및 단면도</h1>
                    <div class="inner01_div">
                      <img src="/images/contents/business0201_section.jpg" alt="탄성포장재 단면도">
                      <ul>
                        <li><img src="/images/contents/business0101_icon0101.png" alt="우수한 내구성"><span>우수한 내구성</span></li>
                        <li><img src="/images/contents/business0101_icon0102.png" alt="내열 내한성"><span>내열 내한성</span></li>
                        <li><img src="/images/contents/business0101_icon0103.png" alt="내오존성"><span>내오존성</span></li>
                        <li><img src="/images/contents/business0101_icon0104.png" alt="내용재성"><span>내용재성</span></li>
                        <li><img src="/images/contents/business0101_icon0105.png" alt="편안한 보행감"><span>편안한 보행감</span></li>
                        <li><img src="/images/contents/business0101_icon0106.png" alt="컬러의 안정성"><span>컬러의 안정성</span></li>
                        <li><img src="/images/contents/business0101_icon0107.png" alt="용도에 따른 두께 조절 가능"><span>용도에 따른<br>두께 조절 가능</span></li>
                      </ul>
                    </div>
                </div>
              </div>
              <div class="innerBottom01 container" >
                <h1 class="innerTitle">
                  제품 용도
                </h1>
                <p>골프장 보행로, 테니스장, 육상트랙, 농구장, 배드민턴장, 장애인 복지시설, 자전거 전용도로, 산책로, 조깅코스, 육교, 노인정, 병원 등</p>
              </div>
            </div>
            <div id="inner02">
              <div class="innerBottomContents02">
                <div class="container">
                  <h1 class="innerTitle">컬러 및 종류</h1>
                  <ul>
                    <li><p><img src="/images/contents/business0201_0201.jpg" alt="Red"></p><span>Red</span></li>
                    <li><p><img src="/images/contents/business0201_0202.jpg" alt="Green"></p><span>Green</span></li>
                    <li><p><img src="/images/contents/business0201_0203.jpg" alt="Y-Green"></p><span>Y-Green</span></li>
                    <li><p><img src="/images/contents/business0201_0204.jpg" alt="Blue"></p><span>Blue</span></li>
                    <li><p><img src="/images/contents/business0201_0205.jpg" alt="Sky-Blue"></p><span>Sky-Blue</span></li>
                    <li><p><img src="/images/contents/business0201_0206.jpg" alt="Yellow"></p><span>Yellow</span></li>
                    <li><p><img src="/images/contents/business0201_0207.jpg" alt="Orange"></p><span>Orange</span></li>
                    <li><p><img src="/images/contents/business0201_0208.jpg" alt="Ocher"></p><span>Ocher</span></li>
                    <li><p><img src="/images/contents/business0201_0209.jpg" alt="Pink"></p><span>Pink</span></li>
                    <li><p><img src="/images/contents/business0201_0210.jpg" alt="Light-Brown"></p><span>Light-Brown</span></li>
                    <li><p><img src="/images/contents/business0201_0211.jpg" alt="Brown"></p><span>Brown</span></li>
                    <li><p><img src="/images/contents/business0201_0212.jpg" alt="Ivory"></p><span>Ivory</span></li>
                    <li><p><img src="/images/contents/business0201_0213.jpg" alt="Light-Gray"></p><span>Light-Gray</span></li>
                    <li><p><img src="/images/contents/business0201_0214.jpg" alt="Dark-Gray"></p><span>Dark-Gray</span></li>
                  </ul>
                </div>
              </div>
              <div class="innerBottom02 container">
                <h1 class="innerTitle">탄성포장재 종류</h1>
              <table class="businessTable">
                <th>종류</th>
                <th>탄성 포장재 명칭</th>
                <th>용도</th>
                <tr>
                  <td>1종</td>
                  <td>시트형 탄성 포장재(공장 성형 제품)</td>
                  <td rowspan="4">트랙용</td>
                </tr>
                <tr>
                  <td>2종</td>
                  <td>포설 위 우레탄 수지 탄성 포장재 (엠보스형)</td>
                </tr>
                <tr>
                  <td>3종</td>
                  <td>시트 위 우레탄 수지 탄성 포장재 (엠보스형)</td>
                </tr>
                <tr>
                  <td>4종</td>
                  <td>우레탄 수지 탄성 포장재 (엠보스형)</td>
                </tr>
                <tr>
                  <td>5종</td>
                  <td>포설형 탄성 포장재</td>
                  <td rowspan="5">다목적용</td>
                </tr>
                <tr>
                  <td>6종</td>
                  <td>포설 위 우레탄 수지 탄성 포장재 (무엠보스형)</td>
                </tr>
                <tr>
                  <td>7종</td>
                  <td>시트 위 우레탄 수지 탄성 포장재 (무엠보스형)</td>
                </tr>
                <tr>
                  <td>8종</td>
                  <td>우레탄 수지 탄성 포장재 (무엠보스형)</td>
                </tr>
                <tr>
                  <td>9종</td>
                  <td>시트형 탄성 포장재 (공장 성형 제품)</td>
                </tr>
              </table>
              </div>
            </div>
            <div id="inner03">
              <div class="innerBottomContents03">
                <div class="container">
                  <h1 class="innerTitle">시공순서</h1>
                  <ul>
                    <li>
                      <p>01</p>
                      <img src="/images/contents/business0101_0301.jpg" alt="표면 청소 및 프라이머 도포">
                      <h3>표면 청소 및 프라이머 도포</h3>
                    </li>
                    <li>
                      <p>02</p>
                      <img src="/images/contents/business0101_0302.jpg" alt="탄성칩 포설">
                      <h3>탄성칩 포설</h3>
                    </li>
                    <li>
                      <p>03</p>
                      <img src="/images/contents/business0101_0303.jpg" alt="로울러 다짐">
                      <h3>로울러 다짐</h3>
                    </li>
                    <li>
                      <p>04</p>
                      <img src="/images/contents/business0101_0304.jpg" alt="시공완료">
                      <h3>시공완료</h3>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="innerBottom03">
                <div class="container">
                  <h1 class="innerTitle">시공전후</h1>
                  <ul>
                    <li><img src="/images/contents/business0101_0305.jpg" alt=""><p>시공 전</p></li>
                    <li> >> </li>
                    <li><img src="/images/contents/business0101_0306.jpg" alt=""><p>시공 후</p></li>
                  </ul>
                </div>
              </div>
            </div>
            <div id="inner04">
              <div class="select">
                <div class="container">
                  <h2>검색</h2>
                  <select name="sel1" id="sel1"></select>
                  <select name="sel2" id="sel2" style="display: none"></select>
                  <input type="text" placeholder="검색어를 입력하세요.">
                  <button>검색</button>
                </div>
              </div>
              <div class="innerBottomContents04">
                <div class="container">
                  <ul class="list04_01">
                    <li><img src="/images/contents/c01.jpg" alt="체육시설 탄성포장재"><span>체육시설 탄성포장재</span></li>
                    <li><img src="/images/contents/c02.jpg" alt="체육시설용 탄성포장재"><span>체육시설용 탄성포장재</span></li>
                    <li><img src="/images/contents/c03.jpg" alt="체육시설용 탄성포장재"><span>체육시설용 탄성포장재</span></li>
                    <li><img src="/images/contents/c04.jpg" alt="체육시설용 탄성포장재"><span>체육시설용 탄성포장재</span></li>
                    <li><img src="/images/contents/c05.jpg" alt="체육시설용 탄성포장재"><span>체육시설용 탄성포장재</span></li>
                    <li><img src="/images/contents/c06.jpg" alt="체육시설 탄성포장재"><span>체육시설 탄성포장재</span></li>
                    <li><img src="/images/contents/c07.jpg" alt="어린이놀이시설 탄성포장재"><span>어린이놀이시설 탄성포장재</span></li>
                    <li><img src="/images/contents/c08.jpg" alt="체육시설 탄성포장재"><span>체육시설 탄성포장재</span></li>
                    <li><img src="/images/contents/c09.jpg" alt="체육시설 탄성포장재"><span>체육시설 탄성포장재</span></li>
                    <li><img src="/images/contents/c10.jpg" alt="체육시설용 탄성포장재"><span>체육시설용 탄성포장재 </span></li>
                  </ul>
                  <ul class="list04_02">
                      <button><span class="material-icons">
                        arrow_back_ios
                        </span></button>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
            <button> <span class="material-icons">
                      arrow_forward_ios
                      </span></button>
                  </ul>
                </div>
              </div>
            
                  </div>
          </div>
      </div>
        
    </div>

    <script>
  //⭐ businessTab ul li 마우스 엔터 / 리브 시 클래스 부여하여 배경색 입히기
  $(".businessTab ul li").on("mouseenter", function () {
    $(this).addClass("businessTab").siblings().removeClass("businessTab")
  });
    $(function () {
    $(".businessTab ul li:nth-child(1)").addClass("businessTab");
  });
  $(".businessTab ul li").on("mouseleave", function () {
    $(".businessTab ul li:nth-child(1)").addClass("businessTab").siblings().removeClass("businessTab")
  });

  //⭐ innerBottomList li 클릭시 클래스 부여하여 after show/ hide 기능
  $(function(){
  $(".innerBottomList li:nth-child(1)").addClass("on")
 })
 $(".innerBottomList li").on("click",function(){
  $(this).addClass("on").siblings().removeClass("on")

 })

 //⭐ 시공사례 > 1차 카테고래 선택에 따른 2차 카테고리 활성화
 $( document ).ready(function(){
   
   var sel1 = {
       " ":"1차 카테고리 선택",
       "art":"탄성포장재",
         "tex":"충격흡수바닥재",
         "pat":"미끄럼방지포장재",
         "gro":"폴리우레아수지도막방수제",
         "sil":"열교환도로",
     };
     
     //sel1이 art일경우
     var sel2_1 = {
       " ":"2차 카테고리 선택",
       "A01": "실외체육시설",
     };
     
     //sel1 tex일경우
     var sel2_2 = {
       " ":"2차 카테고리 선택",
       "T01": "어린이 놀이시설",
     };

     //sel1 pat일경우
     var sel2_3 = {
       " ":"2차 카테고리 선택",
     };

     //sel1 gro일경우
     var sel2_4 = {
       " ":"2차 카테고리 선택",
     };

     var sel2_5 = {
       " ":"2차 카테고리 선택",
     };
     
    function retOption(mapArr, select){
       var html = '';
       var keys = Object.keys(mapArr);
       for (var i in keys) {
           html += "<option value=" + "'" + keys[i] + "'>" + mapArr[keys[i]] + "</option>";
       }
         
         $("select[id='" + select +"']").html(html);
    }
    
    $("select[id='sel1']").on("change", function(){
       var option = $("#sel1 option:selected").val();
         var subSelName = "";
       if(option == "art") {
           subSelName = "sel2_1";
         } else if(option == "tex"){
           subSelName = "sel2_2"; 
         } else if(option == "pat"){
          subSelName = "sel2_3"
         }  else if(option == "gro"){
          subSelName = "sel2_4"
         } else if(option == "sil"){
          subSelName = "sel2_5"
         }
         else{
           $("#sel2").show();
           return;
         }
         $("#sel2").show();
         retOption(eval(subSelName), "sel2");
     })
    retOption(sel1, "sel1");
 });
 



    </script>

  </body>
</html>

<%- include("./include/footer") %>
