<%- include("./include/header") -%>

<div class="subVisual" id="subVisual02">
  <div class="titleBox">
    <h2 class="subTitle">Business</h2>
    <p>하이탑이 디자인에서 설계, 시공까지 확실하게 책임지겠습니다.</p>
  </div>

  <nav id="lnb">
    <div class="container">
      <a href="" class="home">HOME</a>
      <div class="depth01 menu">
        <button>Business</button>
        <%- include("./include/depth01"); %>
      </div>
      <div class="depth02 menu">
        <button>경관용포장재</button>
        <%- include("./include/lnb01"); %>
      </div>
    </div>
  </nav>
</div>

<div class="subContents">
  <h3 class="contentsTitle">조립식바닥재</h3>
  <div class="contents" id="introduce"></div>
</div>

<%- include("./include/footer") -%>
