<%- include("./include/header") -%>

    <div class="subVisual" id="subVisual02">
      <div class="titleBox">
        <h2 class="subTitle">Business</h2>
        <p>하이탑이 디자인에서 설계, 시공까지 확실하게 책임지겠습니다.</p>
      </div>

      <nav id="lnb">
        <div class="container">
          <a href="" class="home">HOME</a>
          <div class="depth01 menu">
            <button>Business</button>
            <%- include("./include/depth01"); -%>
          </div>
          <div class="depth02 menu">
            <button>경관용포장재</button>
            <%- include("./include/lnb02"); -%>
          </div>
        </div>
      </nav>
    </div>

    <div class="subContents">
      <h3 class="contentsTitle">경관용포장재</h3>
      <div class="businesscontents " id="business0101">
        <div class="businessTab">
          <ul>
            <li><a href="/business0101/artcrete">아트크리트</a></li>
            <li>텍스크리트</li>
            <li>패턴크리트</li>
            <li>흙콘크리트</li>
            <li>실코트</li>
          </ul>
        </div>
        
        <div class="innerTop container">
          <img src="/images/contents/businessField_img0101.jpg" alt="">
          <p><strong>아트크리트</strong>ARTCRETE</p>
          <div><span>기존 포장된 아스팔트 콘크리트 표면에 히팅기(가열기)를 이용하여 가열시키고 그 위에 템플레이트를 올려놓고 콤펙타를 이용하여 문양을 각인 한 후 원하는 색상을 스프레이로 디자인하는 공법입니다. </span><br><p>※ 동의어 : 스트리트 프린트, 아스팔트스템프, 칼라무늬아스팔트, 문양아스팔트</p> </div>
        </div>

        <div class="innerMiddle">
          <div class="container">
            <ul class="innerBottomList">
              <li><a href="#inner01">제품소개</a></li>
              <li><a href="#inner02">컬러 및 패턴</a></li>
              <li><a href="#inner03">시공순서</a></li>
              <li><a href="#inner04">시공사례</a></li>
            </ul>
          </div>
        </div>
        
        <div class="tabContents">
          <div id="inner01">
            <div class="innerBottomContents01 " >
              <div class="container">
                <h1 class="innerTitle">제품 특징 및 단면도</h1>
                  <div class="inner01_div">
                    <img src="/images/contents/business0101_section.jpg" alt="">
                    <ul>
                      <li><img src="/images/contents/business0101_icon0101.png" alt=""><span>간편한 시공</span></li>
                      <li><img src="/images/contents/business0101_icon0102.png" alt=""><span>리모델링의<br> 편리함</span></li>
                      <li><img src="/images/contents/business0101_icon0103.png" alt=""><span>디자인의 편리함</span></li>
                      <li><img src="/images/contents/business0101_icon0104.png" alt=""><span>다양한 색과 문양</span></li>
                      <li><img src="/images/contents/business0101_icon0105.png" alt=""><span>내구성 ,<br> 신축성 향상</span></li>
                      <li><img src="/images/contents/business0101_icon0106.png" alt=""><span>아스팔트의<br> 복사열 감소</span></li>
                      <li><img src="/images/contents/business0101_icon0107.png" alt=""><span>강한 내염분성</span></li>
                      <li><img src="/images/contents/business0101_icon0108.png" alt=""><span>미끄럼 방지</span></li>
                    </ul>
                  </div>
              </div>
            </div>
            <div class="innerBottom01 container" >
              <h1 class="innerTitle">
                제품 및 용도
              </h1>
              <p>공원광장, 경기장 주변광장, 아파트 주출입구 및 단지포장, 자전거도로, 어린이보호구역, 이면도로, 각종 휴게 공간, 아스콘이 적용되는 모든 공간 등</p>
            </div>
          </div>
          <div id="inner02">
            <div class="innerBottomContents02">
              <div class="container">
                <h1 class="innerTitle">컬러</h1>
                <ul>
                  <li><p></p><span>적갈색</span></li>
                  <li><p></p><span>진주황</span></li>
                  <li><p></p><span>주황색</span></li>
                  <li><p></p><span>노란색</span></li>
                  <li><p></p><span>밤색</span></li>
                  <li><p></p><span>갈색</span></li>
                  <li><p></p><span>진황토색</span></li>
                  <li><p></p><span>황토색</span></li>
                  <li><p></p><span>녹색</span></li>
                  <li><p></p><span>파란색</span></li>
                  <li><p></p><span>연회색</span></li>
                  <li><p></p><span>회색</span></li>
                  <li><p></p><span>진회색</span></li>
                  <li><p></p><span>검정색</span></li>
                  <li><p></p><span>흰색</span></li>
                </ul>
              </div>
            </div>
            <div class="innerBottom02 container">
              <h1 class="innerTitle">패턴</h1>
              <ul>
                <li><img src="/images/contents/business0101_0201.jpg" alt=""><span>애슐러</span></li>
                <li><img src="/images/contents/business0101_0202.jpg" alt=""><span>블록</span></li>
                <li><img src="/images/contents/business0101_0203.jpg" alt=""><span>랜덤스톤</span></li>
                <li><img src="/images/contents/business0101_0204.jpg" alt=""><span>헤링본(세로형)</span></li>
                <li><img src="/images/contents/business0101_0205.jpg" alt=""><span>프리스코 코블</span></li>
                <li><img src="/images/contents/business0101_0206.jpg" alt=""><span>유로피언</span></li>
                <li><img src="/images/contents/business0101_0207.jpg" alt=""><span>바스켓위브</span></li>
                <li><img src="/images/contents/business0101_0208.jpg" alt=""><span>로만타일</span></li>
                <li><img src="/images/contents/business0101_0209.jpg" alt=""><span>랜덤코블</span></li>
                <li><img src="/images/contents/business0101_0210.jpg" alt=""><span>헤링본(가로형)</span></li>
                <li><img src="/images/contents/business0101_0211.jpg" alt=""><span>브릭스트레이트 볼더(가로형)</span></li>
                <li><img src="/images/contents/business0101_0212.jpg" alt=""><span>브릭스트레이트 볼더(세로형)</span></li>
                <li><img src="/images/contents/business0101_0213.jpg" alt=""><span>솔져코울스 스트레이트 볼더</span></li>
                <li><img src="/images/contents/business0101_0214.jpg" alt=""><span>다이아몬드 볼더</span></li>
                <li><img src="/images/contents/business0101_0215.jpg" alt=""><span>볼더코너</span></li>
                <li><img src="/images/contents/business0101_0216.jpg" alt=""><span>브릭 플랙스볼 볼더(가로형)</span></li>
                <li><img src="/images/contents/business0101_0217.jpg" alt=""><span>브릭 플랙스볼 볼더(세로형)</span></li>
                <li><img src="/images/contents/business0101_0218.jpg" alt=""><span>써클</span></li>
                <li><img src="/images/contents/business0101_0219.jpg" alt=""><span>피라미드</span></li>
                <li><img src="/images/contents/business0101_0220.jpg" alt=""><span>피라미드블럭</span></li>
                <li><img src="/images/contents/business0101_0221.jpg" alt=""><span>베르사유</span></li>
              </ul>
            </div>
          </div>
          <div id="inner03">
            <div class="innerBottomContents03">
              <div class="container">
                <h1 class="innerTitle">시공순서</h1>
                <ul>
                  <li>
                    <p>01</p>
                    <img src="/images/contents/business0101_0301.jpg" alt="">
                    <h3>히팅기를 이용한 표면 가열</h3>
                  </li>
                  <li>
                    <p>02</p>
                    <img src="/images/contents/business0101_0302.jpg" alt="">
                    <h3>템플릿을 이용한 문양 각인</h3>
                  </li>
                  <li>
                    <p>03</p>
                    <img src="/images/contents/business0101_0303.jpg" alt="">
                    <h3>MMA수지, 프라이머 도포 후<br>
                      주재도포 및 표면 강화</h3>
                  </li>
                  <li>
                    <p>04</p>
                    <img src="/images/contents/business0101_0304.jpg" alt="">
                    <h3>시공완료</h3>
                  </li>
                </ul>
              </div>
            </div>
            <div class="innerBottom03">
              <div class="container">
                <h1 class="innerTitle">시공전후</h1>
                <ul>
                  <li><img src="/images/contents/business0101_0305.jpg" alt=""><p>시공 전</p></li>
                  <li> >> </li>
                  <li><img src="/images/contents/business0101_0306.jpg" alt=""><p>시공 후</p></li>
                </ul>
              </div>
            </div>
          </div>
          <div id="inner04">
            <div class="select">
              <div class="container">
                <h2>검색</h2>
                <select name="sel1" id="sel1"></select>
                <select name="sel2" id="sel2" style="display: none"></select>
                <input type="text" placeholder="검색어를 입력하세요.">
                <button>검색</button>
              </div>
            </div>
            <div class="innerBottomContents04">
              <div class="container">
                <ul class="list04_01">
                  <li><img src="/images/contents/c01.jpg" alt=""><span>습식 흙콘크리트</span></li>
                  <li><img src="/images/contents/c02.jpg" alt=""><span>텍스크리트</span></li>
                  <li><img src="/images/contents/c03.jpg" alt=""><span>텍스크리트</span></li>
                  <li><img src="/images/contents/c04.jpg" alt=""><span>텍스크리트</span></li>
                  <li><img src="/images/contents/c05.jpg" alt=""><span>습식 흙콘크리트</span></li>
                  <li><img src="/images/contents/c06.jpg" alt=""><span>아트크리트</span></li>
                  <li><img src="/images/contents/c07.jpg" alt=""><span>아트크리트(스템프)</span></li>
                  <li><img src="/images/contents/c08.jpg" alt=""><span>습식 흙콘크리트</span></li>
                  <li><img src="/images/contents/c09.jpg" alt=""><span>습식 흙콘크리트</span></li>
                  <li><img src="/images/contents/c10.jpg" alt=""><span>텍스크리트 - 스탠드 </span></li>
                </ul>
                <ul class="list04_02">
                    <button><span class="material-icons">
                      arrow_back_ios
                      </span></button>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>6</li>
          <button> <span class="material-icons">
                    arrow_forward_ios
                    </span></button>
                </ul>
              </div>
            </div>
            </div>
        </div>

    </div>
    </div>


  </body>
  </html>
  
  <%- include("./include/footer") -%>
<script>
    $(".businessTab ul li").on("mouseenter", function () {
    $(this).addClass("businessTab").siblings().removeClass("businessTab")
  });
    $(function () {
    $(".businessTab ul li:nth-child(1)").addClass("businessTab");
  });
  $(".businessTab ul li").on("mouseleave", function () {
    $(".businessTab ul li:nth-child(1)").addClass("businessTab").siblings().removeClass("businessTab")
  });

  $( document ).ready(function(){
   
   var sel1 = {
       " ":"1차 카테고리 선택",
       "art":"아트크리트",
         "tex":"텍스크리트",
         "pat":"패턴크리트",
         "gro":"흙콘크리트",
         "sil":"실코트",
     };
     
     //sel1이 art일경우
     var sel2_1 = {
       " ":"2차 카테고리 선택",
       "A01": "공원, 광장",
         "A02": "보, 차도용",
         "A03": "자전거도로",
         "A04": "주차장",
         "A05": "기타"
     };
     
     //sel1 tex일경우
     var sel2_2 = {
       " ":"2차 카테고리 선택",
       "T01": "보, 차도용",
         "T02": "공원, 광장",
         "T03": "주차장",
         "T04": "자전거도로",
         "T05": "육교",
         "T06": "스텐드",
         "T07": "벽체",
     };

     //sel1 pat일경우
     var sel2_3 = {
       " ":"2차 카테고리 선택",
       "P01": "보, 차도용",
         "P02": "공원, 광장",
         "P03": "주차장",
     };

     //sel1 gro일경우
     var sel2_4 = {
       " ":"2차 카테고리 선택",
       "G01": "습식 흙콘크리트",
         "G02": "건식 흙콘크리트",
         "G03": "투수형 흙콘크리트",
     };

     var sel2_5 = {
       " ":"2차 카테고리 선택",
     };
     
    function retOption(mapArr, select){
       var html = '';
       var keys = Object.keys(mapArr);
       for (var i in keys) {
           html += "<option value=" + "'" + keys[i] + "'>" + mapArr[keys[i]] + "</option>";
       }
         
         $("select[id='" + select +"']").html(html);
    }
    
    $("select[id='sel1']").on("change", function(){
       var option = $("#sel1 option:selected").val();
         var subSelName = "";
       if(option == "art") {
           subSelName = "sel2_1";
         } else if(option == "tex"){
           subSelName = "sel2_2"; 
         } else if(option == "pat"){
          subSelName = "sel2_3"
         }  else if(option == "gro"){
          subSelName = "sel2_4"
         } else if(option == "sil"){
          subSelName = "sel2_5"
         }
         else{
           $("#sel2").show();
           return;
         }
         $("#sel2").show();
         retOption(eval(subSelName), "sel2");
     })
    retOption(sel1, "sel1");
 });
 
 $(function(){
  $(".innerBottomList li:nth-child(1)").addClass("on")
 })
 $(".innerBottomList li").on("click",function(){
  $(this).addClass("on").siblings().removeClass("on")

 })
</script>