<%- include("./include/header"); %>
<div class="subVisual" id="subVisual04">
  <div class="titleBox">
    <h2 class="subTitle">Customer</h2>
    <p>하이탑의 다양하고 새로운 소식들을 전해드립니다.</p>
  </div>
  <nav id="lnb">
    <div class="container">
      <a href="" class="home">HOME</a>
      <div class="depth01 menu">
        <button>company</button>
        <%- include("./include/depth01"); %>
      </div>
      <div class="depth02 menu">
        <button>나라장터 등록물품</button>
        <%- include("./include/lnb04"); %>
      </div>
    </div>
  </nav>
</div>
<div class="subContents">
  <h3 class="contentsTitle">나라장터 등록물품</h3>
  <div class="contents" id="market">
    <div class="container">
      <table class="contentsTable">
        <colgroup>
          <col style="width: 26%" />
          <col style="width: 19%" />
          <col style="width: 21%" />
          <col style="width: 15%" />
          <col style="width: 18%" />
        </colgroup>
        <thead>
          <tr>
            <th scope="column">품명</th>
            <th scope="column">식별번호</th>
            <th scope="column">규격</th>
            <th scope="column">두께</th>
            <th scope="column">바로가기</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td rowspan="4">
              <img src="./images/contents/_IMAGES1.jpg" alt="" /> <br />
              <p>체육시설용탄성포장재</p>
              <br />
              <p>30129999</p>
            </td>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22839720</td>
            <td>NHTE20-20 (5종, 보도/산책로)</td>
            <td>t20mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>23027740</td>
            <td>NHT20-15MULTI (6종, 다목적용)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22839722</td>
            <td>NHTE20-15TRACK (2종, 트랙용)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td rowspan="12">
              <img src="./images/contents/NCQEH1532940361_IMAGES1.jpg" alt="" /> <br />
              <p>흙콘크리트</p>
              <br />
              <p>30111595</p>
            </td>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22839720</td>
            <td>NHTE20-20 (5종, 보도/산책로)</td>
            <td>t20mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>23027740</td>
            <td>NHT20-15MULTI (6종, 다목적용)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22839722</td>
            <td>NHTE20-15TRACK (2종, 트랙용)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22839720</td>
            <td>NHTE20-20 (5종, 보도/산책로)</td>
            <td>t20mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>23027740</td>
            <td>NHT20-15MULTI (6종, 다목적용)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22839722</td>
            <td>NHTE20-15TRACK (2종, 트랙용)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22839720</td>
            <td>NHTE20-20 (5종, 보도/산책로)</td>
            <td>t20mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>23027740</td>
            <td>NHT20-15MULTI (6종, 다목적용)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22839722</td>
            <td>NHTE20-15TRACK (2종, 트랙용)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22839720</td>
            <td>NHTE20-20 (5종, 보도/산책로)</td>
            <td>t20mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>23027740</td>
            <td>NHT20-15MULTI (6종, 다목적용)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td rowspan="3">
              <img src="./images/contents/DYYNI1533016953_IMAGES1.jpg" alt="" /><br />
              <p>어린이놀이시설 탄성포장재</p>
              <br />
              <p>30129999</p>
            </td>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22839720</td>
            <td>NHTE20-20 (5종, 보도/산책로)</td>
            <td>t20mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>23027740</td>
            <td>NHT20-15MULTI (6종, 다목적용)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td rowspan="4">
              <img src="./images/contents/RWIRF1532940194_IMAGES1.jpg" alt="" /><br />
              <p>미끄럼방지</p>
              <br />
              <p>30129998</p>
            </td>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22839720</td>
            <td>NHTE20-20 (5종, 보도/산책로)</td>
            <td>t20mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>23027740</td>
            <td>NHT20-15MULTI (6종, 다목적용)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>23027740</td>
            <td>NHT20-15MULTI (6종, 다목적용)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td rowspan="6">
              <img src="./images/contents/NCYGI1532939939_IMAGES1.jpg" alt="" /><br />
              <p>도장형바닥재</p>
              <br />
              <p>30129997</p>
            </td>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22839720</td>
            <td>NHTE20-20 (5종, 보도/산책로)</td>
            <td>t20mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>23027740</td>
            <td>NHT20-15MULTI (6종, 다목적용)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22839720</td>
            <td>NHTE20-20 (5종, 보도/산책로)</td>
            <td>t20mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>23027740</td>
            <td>NHT20-15MULTI (6종, 다목적용)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include("./include/footer"); %>
