<%- include("./include/header"); %>

<div class="subVisual" id="subVisual04">
  <div class="titleBox">
    <h2 class="subTitle">Customer</h2>
    <p>하이탑의 다양하고 새로운 소식들을 전해드립니다.</p>
  </div>

  <nav id="lnb">
    <div class="container">
      <a href="" class="home">HOME</a>
      <div class="depth01 menu">
        <button>customer</button>
        <%- include("./include/depth01"); %>
      </div>
      <div class="depth02 menu">
        <button>공지사항</button>
        <%- include("./include/lnb04"); %>
      </div>
    </div>
  </nav>
</div>

<div class="subContents">
  <h3 class="contentsTitle">공지사항</h3>
  <div class="contents" id="notice">
    <div class="container">
      <div id="news">
        <ul class="list">
          <li>
            <a href="">
              <img src="./images/main/news01.jpg" alt="" />
              <div class="desc">
                <h3>추석 휴무 공지</h3>
                <p class="txt">추석 휴무 공지 풍성한 한가위처럼 마음 또한 풍성한 시기를 바라오며, 즐겁고 행복한 추석 보내시길 바랍니다. 휴무 기간동안은 문의전화를 운영하지 않습니다.</p>
                <p class="date">2022-09-08</p>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <img src="./images/main/news02.jpg" alt="" />
              <div class="desc">
                <h3>하계 휴가철 인사</h3>
                <p class="txt">복잡한 회사일로 마음 졸이던 일상을 벗어나 행복하고 평화로운 휴가를 보내시고 어디를 가든 지난 피로를 훨훨 다 털어버리고 오시기 바랍니다</p>
                <p class="date">2022-08-02</p>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <img src="./images/main/news03.jpg" alt="" />
              <div class="desc">
                <h3>선거 휴무 공지</h3>
                <p class="txt">해당일은 (주)하이탑 휴무일 입니다. 전화상담은 정상 운영되며 나머지 업무는 3월 10일부터 정상 운영 예정입니다.</p>
                <p class="date">2022-03-08</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="table">
        <table>
          <th>번호</th>
          <th>제목</th>
          <th>날짜</th>
          <tr>
            <td>25</td>
            <td>추석 휴무 공지</td>
            <td>2022-09-08</td>
          </tr>
          <tr>
            <td>24</td>
            <td>하계 휴가철 인사</td>
            <td>2022-08-02</td>
          </tr>
          <tr>
            <td>23</td>
            <td>선거 휴무 공지</td>
            <td>2022-03-08</td>
          </tr>
          <tr>
            <td>22</td>
            <td>연휴 휴무 공지</td>
            <td>2022-02-21</td>
          </tr>
          <tr>
            <td>21</td>
            <td>2022년 새해 인사</td>
            <td>2022-01-03</td>
          </tr>
          <tr>
            <td>20</td>
            <td>G-PASS 지정 공지</td>
            <td>2021-12-17</td>
          </tr>
          <tr>
            <td>19</td>
            <td>추석 휴무 공지</td>
            <td>2021-09-07</td>
          </tr>
          <tr>
            <td>18</td>
            <td>2021년 새해 인사</td>
            <td>2021-01-04</td>
          </tr>
          <tr>
            <td>17</td>
            <td>ISO 9001,14001 인증 공지</td>
            <td>2020-07-28</td>
          </tr>
          <tr>
            <td>16</td>
            <td>하계휴가 공지</td>
            <td>2020-07-28</td>
          </tr>
          <tr>
            <td>15</td>
            <td>창립기념일 휴무공지(20.07.07)</td>
            <td>2020-06-23</td>
          </tr>
          <tr>
            <td>14</td>
            <td>워크샵 휴무 공지</td>
            <td>2020-05-18</td>
          </tr>
          <tr>
            <td>13</td>
            <td>코로나 예방 행동 수칙</td>
            <td>2020-04-01</td>
          </tr>
          <tr>
            <td>12</td>
            <td>2020년 새해 인사</td>
            <td>2019-12-27</td>
          </tr>
          <tr>
            <td>11</td>
            <td>12월 인사말</td>
            <td>2019-12-04</td>
          </tr>
        </table>
      </div>
      <div class="noticepage">
        <button>
          <span class="material-icons"> keyboard_double_arrow_left </span>
        </button>
        <p class="active">1</p>
        <p>2</p>
        <button>
          <span class="material-icons"> keyboard_double_arrow_right </span>
        </button>
      </div>
    </div>
  </div>
</div>
