<%- include("./include/header"); %>

<div class="subVisual" id="subVisual04">
  <div class="titleBox">
    <h2 class="subTitle">Customer</h2>
    <p>하이탑의 다양하고 새로운 소식들을 전해드립니다.</p>
  </div>

  <nav id="lnb">
    <div class="container">
      <a href="" class="home">HOME</a>
      <div class="depth01 menu">
        <button>company</button>
        <%- include("./include/depth01"); %>
      </div>
      <div class="depth02 menu">
        <button>공지사항</button>
        <%- include("./include/lnb04"); %>
      </div>
    </div>
  </nav>
</div>

<div class="subContents">
  <h3 class="contentsTitle">공지사항</h3>
  <div class="contents" id="notice">
    <div class="container">
      <div id="news">
        <ul class="list">
          <li>
            <a href="">
              <img src="./images/main/news01.jpg" alt="" />
              <div class="desc">
                <h3>선거 휴무 공지</h3>
                <p class="txt">해당일은 (주)하이탑 휴무일 입니다.전화상담은 정상 운영되며나머지 업무는 3월 10일부터 정상 운영 예정입니다업무는 3월 10일부터 정상 운영 예정입니다..</p>
                <p class="date">2022-05-09</p>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <img src="./images/main/news02.jpg" alt="" />
              <div class="desc">
                <h3>연휴 휴무 공지</h3>
                <p class="txt">연휴 및 징검다리 휴무해당 기간은 (주)하이탑 휴무 기간입니다.휴무 기간동안은 문의전화를 운영하지 않으니 참고 부탁드립니다.휴무 기간 : 2022년 2월 28ㅇㄹ일일일일일.</p>
                <p class="date">2022-05-10</p>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <img src="./images/main/news03.jpg" alt="" />
              <div class="desc">
                <h3>2022년 새해 인사</h3>
                <p class="txt">코로나로 힘든 한 해였지만, 잘 이겨내고 새해를 맞이하게 되었습니다.새해에는 하시는 모든 일들에 복이 넘치시고, 즐거운 일이 가득하시길 바랍니다.새해복많이받으세요</p>
                <p class="date">2022-05-11</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
