<%- include("./include/header"); %>

<div class="subVisual" id="subVisual05">
  <div class="titleBox">
    <h2 class="subTitle">Recruit</h2>
    <p>도전하는 젊은 열정과 창의적 감각을 겸비한 전문적인 프로정신!</p>
  </div>
  <nav id="lnb">
    <div class="container">
      <a href="" class="home">HOME</a>
      <div class="depth01 menu">
        <button>Recruit</button>
        <%- include("./include/depth01"); -%>
      </div>
      <div class="depth02 menu">
        <button>인재상</button>
        <%- include("./include/lnb05"); -%>
      </div>
    </div>
  </nav>
</div>
<div class="subContents">
  <h3 class="contentsTitle">인재상</h3>
  <div id="people" class="container">
    <div class="peopleTop">
      <div class="peopleBox">
        <p>HIGH Technology Top Peoples</p>
        <h1>소수 정예요원 하이탑人</h1>
        <h3>최선을 다해 일하고 최대의 성과를 내어 최고로 대우받는<br />소수 정예요원, 이것이 하이탑인 입니다.<br />하이탑인이 되기 위해서는 우리의 다음의 사항을 실천합니다.</h3>
      </div>
    </div>
    <div class="peopleBottom">
      <ul>
        <li>
          <div>
            <p>Lead change</p>
            <h1>변화를 주도</h1>
            <span>하이탑인은 스스로 <br />변화를 주도한다.</span>
          </div>
          <img src="/images/contents/people_conBox01.jpg" alt="변화를 주도" />
        </li>
        <li>
          <div>
            <p>Power of execution</p>
            <h1>적극적인 실천력</h1>
            <span>하이탑인은 적극적인 <br />실천력으로 목표를 달성한다.</span>
          </div>
          <img src="/images/contents/people_conBox02.jpg" alt="적극적인 실천력" />
        </li>
        <li>
          <div>
            <p>Self development</p>
            <h1>끊임없는 자기개발</h1>
            <span>하이탑인은 끊임없는 자기개발로<br />전문가로서 자긍심을 가진다.</span>
          </div>
          <img src="/images/contents/people_conBox03.jpg" alt="끊임없는 자기개발" />
        </li>
        <li>
          <div>
            <p>Us better than me</p>
            <h1>나보다는 우리</h1>
            <span>하이탑인은 나보다는<br />우리를 먼저 생각한다.</span>
          </div>
          <img src="/images/contents/people_conBox04.jpg" alt="나보다는 우리" />
        </li>
      </ul>
    </div>
  </div>
</div>

<%- include("./include/footer"); %>
