<%- include("./include/header"); %>

<div class="subVisual" id="subVisual01">
  <div class="titleBox">
    <h2 class="subTitle">Company</h2>
    <p>우리는, 도시경관사업의 최고기업이 되고 시장을 선도한다!</p>
  </div>

  <nav id="lnb">
    <div class="container">
      <a href="" class="home">HOME</a>
      <div class="depth01 menu">
        <button>company</button>
        <%- include("./include/depth01"); %>
      </div>
      <div class="depth02 menu">
        <button>경영이념</button>
        <%- include("./include/lnb01"); %>
      </div>
    </div>
  </nav>
</div>

<div class="subContents">
  <h3 class="contentsTitle">경영이념</h3>
  <div class="contents" id="philosophy">
    <div class="container">
      <div class="construction">
        <img src="./images/contents/titleImgBox_philosophy.jpg" alt="옥상 이미지" />
        <div class="txtBox">
          <p>Construction star</p>
          <h2>
            도시경관사업의 최고기업,<br />
            시장을 선도하는 <strong>하이탑</strong>
          </h2>
          <span>하이탑은 다음과 같은 3대 경영전략과 5대 실천 전략을 <br />실천하고 있습니다.</span>
        </div>
      </div>

      <div class="strategy">
        <h3 class="redline">3대 경영전략</h3>
        <p>
          하이탑은 창의적인 도전정신을 바탕으로 특수포장재라는 대한민국 건설의 새로운 부분을 개척하였고, 친환경·최첨단의 제품 개발과<br />
          고품질의 도시경관용 건자재를 통하여 사회와 국가에 공헌하고 주주와 고객 그리고 건설 문화에 이바지하고자 최선을 다하고 있습니다.
        </p>
      </div>
      <div class="three">
        <ul>
          <li>
            <img src="./images/contents/philosophy_conBox01_icon01.png" alt="신뢰경영 아이콘" />
            <h3>신뢰경영</h3>
            <p>
              신뢰경영을 실천함으로써 인간존중의 정신을<br />
              토대로 인간미 넘치는 노사관계와 상하간의<br />
              신뢰관계를 더욱 공고히 함과 동시에 고객과<br />
              사업파트너의 기대와 믿음에 부응하고자 합니다.
            </p>
          </li>
          <li>
            <img src="./images/contents/philosophy_conBox01_icon02.png" alt="인재중시경영 아이콘" />
            <h3>인재중시경영</h3>
            <p>
              인재중시경영을 통하여 기업의 생명이<br />
              인재라는 인식을 더욱 공고히 하고 뛰어난 인재의<br />
              양성으로 최고의 제품을 고객에게 나눌 수 있는<br />
              참된 기업이 되고자 합니다.
            </p>
          </li>
          <li>
            <img src="./images/contents/philosophy_conBox01_icon03.png" alt="품질경영 아이콘" />
            <h3>품질경영</h3>
            <p>
              품질경영을 실시하여 한번 찾은 고객은 영원한<br />
              고객으로 섬김과 동시에 글로벌화 되어가고<br />
              더욱 치열해지는 무한 경쟁의 시장에서<br />
              찬란히 빛나는 하이탑이 되고자 합니다.
            </p>
          </li>
        </ul>
      </div>

      <div class="five">
        <div class="container">
          <h2 class="redline">5대 실천전략</h2>
          <ul class="txtimg">
            <li>
              <div class="contxt">
                <h3><span class="red">01</span> 블루오션의 개척</h3>
                <p>
                  끊임 없는 제품 개발을 통하여 최고의 특화된 제품으로<br />
                  고객을 만족시키고 부가가치 제품과 최고만족의 제품을<br />
                  고객에게 제공하면서 전문화되고 차별화된 특수바닥 포장재<br />
                  기업으로서의 블루오션을 개척하고자 합니다.
                </p>
              </div>
              <div class="conimg"><img src="./images/contents/philosophy_conBox02_img01.jpg" alt="블루오션의 개척 이미지" /></div>
            </li>
            <li>
              <div class="contxt">
                <h3><span class="red">02</span> 브랜드 가치의 향상</h3>
                <p>
                  최고의 제품생산과 고객만족을 통하여 중소기업이 넘기 힘든 산인 기업의<br />
                  브랜드 가치를 향상시키고자 합니다. 대기업만이 대접받는 산업시대의<br />
                  마인드를 벗어나 독일이나 이태리같은 선진국처럼 전문분야의 장인정신으로<br />
                  무장하여 특수 바닥 포장재에 관한 한 더 이상의 부연 설명이 필요 없는<br />
                  하이탑으로 자리를 굳혀 나갈 것입니다.
                </p>
              </div>
              <div class="conimg"><img src="./images/contents/philosophy_conBox02_img02.jpg" alt="브랜드 가치의 향상 이미지" /></div>
            </li>
            <li>
              <div class="contxt">
                <h3><span class="red">03</span> 지속가능 경영체제 구축</h3>
                <p>
                  하이탑은 최고의 제품과 철저한 고객만족을 통하여 기업의 직접적인<br />
                  사회적 책임을 실천하고 고객과 임직원 및 협력업체들과 비전을<br />
                  함께 공유하여 전문화된 기업으로서의 특성을 살림과 동시에<br />
                  기업의 사회적 책임을 다하는데 노력하고자 합니다.
                </p>
              </div>
              <div class="conimg"><img src="./images/contents/philosophy_conBox02_img03.jpg" alt="지속가능 경영체제 구축 이미지" /></div>
            </li>
            <li>
              <div class="contxt">
                <h3><span class="red">04</span> 현장중시의 경영 실천</h3>
                <p>
                  현장중시의 경영을 실천하여 고객의 만족과 직원의 일하는 즐거움을<br />
                  배가시키고, 직원과 고객이 진정으로 요구하는 것이 무엇인지를 <br />현장에서 직접 파악할 수 있는 현장중시 풍토를 조성하여<br />
                  살아 움직이는 회사를 만들고자 합니다.
                </p>
              </div>
              <div class="conimg"><img src="./images/contents/philosophy_conBox02_img04.jpg" alt="현장중시의 경영 실천 이미지" /></div>
            </li>
            <li>
              <div class="contxt">
                <h3><span class="red">05</span> 친환경 제품의 개발</h3>
                <p>
                  21세기 산업의 화두는 친환경입니다<br />
                  끊임없는 연구개발로 친환경 친자연적인 자연을 닮은 제품을<br />
                  개발하고 보급하여 삼천리 금수강산을 온전히 후손만대에<br />
                  물려줄 수 있도록 최선을 다하는 기업으로 거듭나고자 합니다.
                </p>
              </div>
              <div class="conimg"><img src="./images/contents/philosophy_conBox02_img05.jpg" alt="친환경 제품의 개발 이미지" /></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("./include/footer"); %>
