<%- include("./include/header"); %>

<div class="subVisual" id="subVisual05">
  <div class="titleBox">
    <h2 class="subTitle">Recruit</h2>
    <p>도전하는 젊은 열정과 창의적 감각을 겸비한 전문적인 프로정신!</p>
  </div>

  <nav id="lnb">
    <div class="container">
      <a href="" class="home">HOME</a>
      <div class="depth01 menu">
        <button>Recruit</button>
        <%- include("./include/depth01"); -%>
      </div>
      <div class="depth02 menu">
        <button>채용공고</button>
        <%- include("./include/lnb05"); -%>
      </div>
    </div>
  </nav>
</div>
<div class="subContents">
  <h3 class="contentsTitle">채용공고</h3>
  <div class="detail container">
    <table>
      <th colspan="2">[연구개발직]잡코리아 채용 공고(2019년) - 마감</th>
      <tr>
        <td>등록일 | 2018.08.20</td>
        <td>조회 | 1548</td>
      </tr>
      <tr class="trTxt">
        <td>
          <div>
            <img src="/images/contents/recruit.jpg" alt="채용 내용 세부사항 이미지" />
            <span
              >링크는 아래의 주소를 클릭해 주세요.<br />
              http://www.jobkorea.co.kr/Recruit/GI_Read/25976704?Oem_Code=C1 <br
            /></span>
          </div>
        </td>
      </tr>
    </table>
    <div class="backBtn">
      <button><a href="/recruit">목록 </a></button>
    </div>
  </div>

  <%- include("./include/footer"); %>
</div>
