<%- include("./include/header"); %>

<div class="subVisual" id="subVisual05">
  <div class="titleBox">
    <h2 class="subTitle">Recruit</h2>
    <p>도전하는 젊은 열정과 창의적 감각을 겸비한 전문적인 프로정신!</p>
  </div>

  <nav id="lnb">
    <div class="container">
      <a href="" class="home">HOME</a>
      <div class="depth01 menu">
        <button>Recruit</button>
        <%- include("./include/depth01"); -%>
      </div>
      <div class="depth02 menu">
        <button>채용공고</button>
        <%- include("./include/lnb05"); -%>
      </div>
    </div>
  </nav>
</div>
<div class="subContents">
  <h3 class="contentsTitle">채용공고</h3>
  <div class="detail container">
    <table>
      <th colspan="2">[연구개발직]잡코리아 채용 공고(2019년) - 마감</th>
      <tr>
        <td>등록일 | 2019.08.23</td>
        <td>조회 | 668</td>
      </tr>
      <tr class="trTxt">
        <td>
          <div>
            <span
              >당사에서 현재<br />
              연구개발직 채용을 잡코리아 사이트에 공고중에 있습니다.<br
            /></span>
            <span
              >- 마감일 : <span class="red">2019년 09월 05일 (채용시마감)</span><br />
              - 이력서양식 : 잡코리아 이력서, 자유 이력서<br />
              - 접수방법 : 잡코리아 온라인 접수<br />링크는 아래 주소를 클릭해 주세요. <br /><a href="http://www.jobkorea.co.kr/Recruit/GI_Read/29322786?Oem_Code=C1"
                >http://www.jobkorea.co.kr/Recruit/GI_Read/29322786?Oem_Code=C1</a
              ></span
            >
          </div>
        </td>
      </tr>
    </table>
    <div class="backBtn">
      <button><a href="/recruit">목록 </a></button>
    </div>
  </div>

  <%- include("./include/footer"); %>
</div>
