<%- include("./include/header"); %>

<div class="subVisual" id="subVisual05">
  <div class="titleBox">
    <h2 class="subTitle">Recruit</h2>
    <p>도전하는 젊은 열정과 창의적 감각을 겸비한 전문적인 프로정신!</p>
  </div>

  <nav id="lnb">
    <div class="container">
      <a href="" class="home">HOME</a>
      <div class="depth01 menu">
        <button>Recruit</button>
        <%- include("./include/depth01"); -%>
      </div>
      <div class="depth02 menu">
        <button>인재 & 복지</button>
        <%- include("./include/lnb05"); -%>
      </div>
    </div>
  </nav>
</div>

<div class="subContents">
  <h3 class="contentsTitle">인사 & 복지</h3>
  <div id="system" class="container">
    <div class="peopleTop">
      <div class="peopleBox">
        <p>Global Paving Provider</p>
        <h1>하이탑人 인재양성</h1>
        <h3>
          하이탑은 21세기 Global Paving Provider로서 '하이탑인'<br />육성을 인사관리의 기본 원칙으로 하고 있으며,<br />당사의 인재상에 부합하는 뛰어난 인재양성을 위해<br />다음과 같은 인사제도를
          시행하고 있습니다.
        </h3>
      </div>
    </div>
    <div class="systemTop">
      <h1 class="title">인력운영의 합리화</h1>
      <ul>
        <li>
          <div>
            <img src="/images/contents/system_conBox01_icon01.png" alt="" />
            <h2><strong>01</strong>개인적성을 고려한 부서배치</h2>
            <span>입사시 인,적성검사 자료 및 신입사원<br />교육과정을 거쳐 개인의 적성과<br />본인 희망을 고려한 부서배치</span>
          </div>
        </li>
        <li>
          <div>
            <img src="/images/contents/system_conBox01_icon02.png" alt="" />
            <h2><strong>02</strong>지역발전 기여의 기회제공</h2>
            <span>채용시 본인이 원하는 지역 배치를 통해<br />자기 성장의 기회는 물론 자신이 태어난<br />지역발전에 기여할 수 있는 기회 제공</span>
          </div>
        </li>
        <li>
          <div>
            <img src="/images/contents/system_conBox01_icon03.png" alt="" />
            <h2><strong>03</strong>자기신고제도</h2>
            <span
              >매년 과장급 이하 직원을 자기신고서를 받음으로써 조직<br />순환의 제도적 호라성화 및 인력운영의 합리화를 추구하고,<br />직원 개개인 또한 스스로 경력 개발 설계, 운영할 수 <br />있도록
              회사가 적극지원</span
            >
          </div>
        </li>
      </ul>
    </div>
    <div class="systemMiddle01">
      <h1 class="title">인력양성체계의 합리화</h1>
      <ul>
        <li>
          <div>
            <img src="/images/contents/system_conBox02_img01.jpg" alt="" />
            <h1>전사원 교육제도 구축</h1>
            <h2>직종, 직급별 필수교육을 이수케 함으로써 업무 관리능력 및<br />전문성을 함양할 수 있도록 교육기회 제공</h2>
          </div>
        </li>
        <li>
          <div>
            <img src="/images/contents/system_conBox02_img02.jpg" alt="" />
            <h1>1인 다역의 Multi Player 양성</h1>
            <h2>당사 업무의 각 분야를 두루 경험할 수 있는 기회제공 및<br />전사원 교육을 통하여 1인 다역의 전문가 양성</h2>
          </div>
        </li>
      </ul>
    </div>
    <div class="systemMiddle02">
      <h1 class="title">공정한 성과주의 보상체계</h1>
      <h2>
        성과에 따른 보상과 발탁승진 성과에 대한 객관적 평가를 통해서 업무성과에 따라 업적급 차등지급, 매년 성과 우수자에 대해 연봉 특별조정 실시, 탁월한 역량이 인정이되는 직원에 대해 연공서열을 탈피한
        발탁 승진제도 적용
      </h2>
      <div>
        <img src="/images/contents/system_conBox03_icon01.png" alt="" />
        <h4><strong>객관적이고 투명한 인재평가</strong>성과 및 능력위주의 평가를 실시하되, 계량화된 평가요소 적용. 역량평가, 리더쉽평가 등을 통한 공정한 평가 체제 확립</h4>
      </div>
    </div>
    <div class="systemBottom">
      <h1 class="title">인재육성전략</h1>
      <h2>
        글로벌 경영, 신사업, 제품관련 신기술개발 등 미래성장 전략 분야의 인재를 육성하기 위해 국내외 대학 및 대학원, 전문기관과 연계하여 교육훈련을 실시하고 있으며, 인재역량 및 경쟁력에 항상 주력하고
        있습니다.
      </h2>
      <ul>
        <li>
          <div>
            <span>01</span>
            <h2>교육학점 이수제</h2>
            <p>직급별로 연간 이수 필수학점을 지정한 후 다양한 교육경로를 통해 이수하도록 하며, 승진 시 반영하여 능동적으로 업무수행능력을 향상시킴 (예정)</p>
          </div>
        </li>
        <li>
          <div>
            <span>02</span>
            <h2>독서활동의 의무화</h2>
            <p>사내 도서관을 설립하여 전 임직원이 매월 의무독서를 하게 하여 창의력을 발함과 동시에 자기계발에 필요한 정보와 지식을 습득할 수 있게 전사적인 독서체계를 확립</p>
          </div>
        </li>
        <li>
          <div>
            <span>03</span>
            <h2>자기개발 지원제도</h2>
            <p>국내외 대학 및 대학원, 전문기관과 연계하여 역량을 개발할 수 있도록 지원하는 제도 (건설관련 자격증 취득과정, 임원NMMBA과정 등)</p>
          </div>
        </li>
        <li>
          <div>
            <span>04</span>
            <h2>하이탑 Business School 운영</h2>
            <p>전문인력 육성을 위한 아이템 교육, 외국어스쿨, 무역스쿨 운영, 동호회를 통한 자기 계발 능력 확대</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<%- include("./include/footer"); %>
