<div class="pagination">
  <a href="" class="first"></a>
  <a href="" class="prev"></a>
  <ul>
    <li><a href="" class="active">01</a></li>
    <li><a href="">02</a></li>
    <li><a href="">03</a></li>
    <li><a href="">04</a></li>
    <li><a href="">05</a></li>
    <li><a href="">06</a></li>
    <li><a href="">07</a></li>
    <li><a href="">08</a></li>
    <li><a href="">09</a></li>
    <li><a href="">10</a></li>
  </ul>
  <a href="" class="next"></a>
  <a href="" class="last"></a>

</div>